recursive-include ckanext/scheming/templates/  *
recursive-include ckanext/scheming/form_snippets/  *
recursive-include ckanext *.html *.json *.yaml *.js *.html *.css *.yml *.config
include README.md CHANGELOG.md *.ini
